/* Normalise */
body, html {
  margin: 0;
  padding: 0; }

* { box-sizing: border-box; }

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Colour scheme */

/*
From https://ilearn.mq.edu.au/mod/forum/discuss.php?d=1305281
  white: #FFFFFF;
  black: #000000;

  light grey: #F2F2F2;
  mid grey: #8E8E8E;
  dark grey: #4D4D4D;

  dark teal: #3FCEA4;
  mid teal: #44DEB0;
  light teal: #7AE8C7;
  lighter teal: #BEF3E3;

  yellow: #FFF066;
*/

/* Typography */
body {
  color: #4D4D4D;
}

h1, h2, h3, h4 { color: #4D4D4D; margin-bottom: 0.75em; }

h1 { font-size: 2.6em; font-weight:bold; }
h2 { font-size: 2em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1em; }

/* Nav */
@media all and (min-width: 576px) {
  .navbar-nav {
    flex-direction: row;
  }
  .navbar-nav li {
    margin: 0 0.75em;
  }
}


/* Layout */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Buttons */
.btn-primary {
  background-color: #3FCEA4;
  border-color: #3FCEA4;
}
.btn-primary:hover {
  background-color: #7AE8C7;
  border-color: #7AE8C7;
  color: #fff;
  text-decoration: none;
}

.button--cta {
  font-size: 16px;
  font-weight: bold;
  padding: 0.5em 1em;
}

/* Product cards */
.cards {
  display: flex;
  flex-flow: column;
}

.cards .card-wrapper {
  padding-bottom: 1em;
  width: 100%;
}

.card-button {
  text-align: center;
}

@media all and (min-width: 576px) {
  .cards {
    display: flex;
    flex-flow: row wrap;
  }

  .cards .card-wrapper {
    padding: 1em;
    width: 33%;
  }
}

/* Footer */
.footer {
  background: #3FCEA4;
  color: white;
  padding: 3em 6em;
  text-align: center;
}