/* Normalise */
body, html {
  margin: 0;
  padding: 0; }

* { box-sizing: border-box; }

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-item i {
  font-size:28px;
  color: whitesmoke;
  margin-top: 5px;
}

/* Colour scheme */

/*
From https://ilearn.mq.edu.au/mod/forum/discuss.php?d=1305281
  white: #FFFFFF;
  black: #000000;

  light grey: #F2F2F2;
  mid grey: #8E8E8E;
  dark grey: #4D4D4D;

  dark teal: #3FCEA4;
  mid teal: #44DEB0;
  light teal: #7AE8C7;
  lighter teal: #BEF3E3;

  yellow: #FFF066;
*/

/* Typography */
body {
  color: #4D4D4D;
  padding-top: 56px;
}

h1, h2, h3, h4 { color: #4D4D4D; margin-bottom: 0.75em; }

h1 { font-size: 2.6em; font-weight:bold; }
h2 { font-size: 2em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1em; }

/* Nav */
@media all and (min-width: 576px) {
  .navbar-nav {
    flex-direction: row;
  }
  .navbar-nav li {
    margin: 0 0.75em;
  }
}


/* Layout */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Buttons */
.btn-primary {
  background-color: #3FCEA4;
  border-color: #3FCEA4;
}
.btn-primary:hover {
  background-color: #7AE8C7;
  border-color: #7AE8C7;
  color: #fff;
  text-decoration: none;
}

.button--cta {
  font-size: 16px;
  font-weight: bold;
  padding: 0.5em 1em;
}



/* Comparison table */
.compare-table{
  display: flex;
  flex-direction: column; /* turn children ul elements into stacked rows */
  margin-bottom:5%;
  margin-top:5%;
  margin-left:10%;
  margin-right:10%;
  width: 80%;
}

.compare-table .compare-table__row{
  list-style: none;
  display: flex; /* turn children li elements into flex children */
  flex: 1;
  flex-wrap: wrap;
}

.compare-table .compare-table__row li{
  background: white;
  flex: 1;
  padding: 10px;
  border-bottom: 1px solid gray;
}

/* Key Column (First Li in every row) */
.compare-table .compare-table__row .key{
  background: #44DEB0;
  color: white;
  border: none;
  border-radius:12px;
  width: 200px;
  border-bottom: none;
  box-shadow: 0 6px 6px rgba(0,0,0,0.30);
}

/* First Row */
.compare-table .compare-table__row:first-of-type li{
  text-align: center;

}

/* Last Row */
.compare-table .compare-table__row:last-of-type li{
  text-align: center;
  border-bottom: none;
  box-shadow: 0 6px 6px rgba(0,0,0,0.30);
  border-radius:10px;
  background: #44DEB0;
  color: white;
}

/* First + last cell in key column */
.compare-table .compare-table__row:first-of-type .key,
.compare-table .compare-table__row:last-of-type .key{
    background: transparent;
    box-shadow: none;
}

.compare-table img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  height: 150px;
}


@media screen and (max-width:650px) {

  .compare-table .compare-table__row{
      flex-direction: column;
  }
  
  .compare-table .compare-table__row li{
      margin-right: 0;
      width: auto;
      flex: auto;
  }
  
  /* First + last cell in key column */
  .compare-table .compare-table__row:first-of-type li.key,
  .compare-table .compare-table__row:last-of-type li.key{
      display: none;
  }
  
  .compare-table .compare-table__row li.key{
      width: auto;
  }
}



/* Product cards */
.cards {
  display: flex;
  flex-flow: column;
}

.cards .card-wrapper {
  padding-bottom: 1em;
  width: 100%;
}

.card-button {
  text-align: center;
}

@media all and (min-width: 576px) {
  .cards {
    display: flex;
    flex-flow: row wrap;
  }

  .cards .card-wrapper {
    padding: 1em;
    width: 33%;
  }
}

/* Footer */
.footer {
  background: #3FCEA4;
  color: white;
  padding: 3em 6em;
  text-align: center;
}